/deep/ .target-class {
  width: 500px !important;
  background: #ff0000 !important;
}

/deep/ .target-class1 {
  width: 500px !important;
  background: #0000cc !important;
}

/deep/ .target-class2 {
  width: 500px !important;
  background: #5e7d00 !important;
}
